:root {
    --blue: #0c3559;
    --darkblue: #092640;
    --seablue: #687b8c;
    --lightseablue: #aab9bf;
    --light: #f2f2f2;
    --stadiumRed: #8C2D31;

  }

body{
  background-color: black;
  background-image: url("../Images/inventory.jpg");
  position: absolute;
  width: 100%;
  background-position: center;
}

  .custom-jumbotron {
    background-color: var(--lightseablue);
    margin:auto;
    margin-top:1%;
  }

#lineBreak{
  width:80%;
  background-color: white;
}

.table-body-fixed{
  padding: 0 !important;
  margin: 0 !important;
  height:0 !important;
}
  @media screen and (max-width: 500px) {
    .modal{
      width:70%
    }

    #spreadsColumns{
      width:100%
    }

    #topSpreadsContainer{
      margin-bottom:5%
    }

    #submitItemSearch{
      margin-top:4%;
      width: 70%
    }

    #spreadsIcon{
      margin-top:5%
    }

    #navBarBrand{
      position: relative; 
      left: 50%; 
      transform: translatex(-50%);
    }

    #showMobile{
      display: none;
    }
  }

  /* .ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;} */